# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Topics/Branching statements/The sequence/out/
/Topics/Branching statements/The sequence/out/production/classes/
/Topics/Integer types and operations/Theory/build/
/Topics/Printing data/Printing a magic letter/out/
/Topics/Printing data/Printing a magic letter/out/production/classes/